In [26]:
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
import pandas as pd

In [5]:
data=pd.read_csv('diabetes.csv')
data[1:3]

,pregnancies,glucose,bloodp,skinthickness,insulin,BMI,Diabetespf,age,outcome
1,1,46,66,29,0,26.6,0.365,43,0
2,8,76,67,0,0,23.3,0.756,23,1

In [6]:
data.shape

(10, 9)

In [7]:
data.describe()

,pregnancies,glucose,bloodp,skinthickness,insulin,BMI,Diabetespf,age,outcome
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,2.400000,90.700000,65.200000,24.600000,52.400000,30.940000,0.679100,49.300000,0.600000
std,3.169297,39.327824,11.516172,13.866026,72.004938,7.306192,0.589529,15.727188,0.516398
min,0.000000,45.000000,44.000000,0.000000,0.000000,23.300000,0.167000,23.000000,0.000000
25%,0.250000,53.500000,58.250000,23.000000,0.000000,26.600000,0.451500,43.000000,0.000000
50%,1.000000,82.500000,66.500000,29.000000,0.000000,28.100000,0.499500,47.500000,1.000000
75%,3.250000,123.750000,70.750000,35.000000,94.000000,33.600000,0.665000,56.000000,1.000000
max,8.000000,146.000000,87.000000,36.000000,168.000000,43.100000,2.288000,77.000000,1.000000

In [8]:
data['outcome'].value_counts()

1    6
0    4
Name: outcome, dtype: int64

In [11]:
data.groupby('outcome').mean()

,pregnancies,glucose,bloodp,skinthickness,insulin,BMI,Diabetespf,age
outcome,,,,,,,,
0,1.000000,64.0,71.250000,26.000000,47.0,27.350000,0.415750,50.000000
1,3.333333,108.5,61.166667,23.666667,56.0,33.333333,0.854667,48.833333

In [12]:
x=data.drop(columns='outcome',axis=1)
y=data['outcome']

In [13]:
print(x)
print(y)

   pregnancies  glucose  bloodp  skinthickness  insulin   BMI  Diabetespf  age
0            0      146      72             35        0  33.6       0.635   50
1            1       46      66             29        0  26.6       0.365   43
2            8       76      67              0        0  23.3       0.756   23
3            1       87      87             23       94  28.1       0.167   45
4            0      137      56             36      168  43.1       2.288   33
5            4      123      72             35        0  33.6       0.450   43
6            1       45      65             29        0  26.6       0.456   56
7            8       45      44              0        0  23.3       0.543   67
8            1       78      67             23       94  28.1       0.675   56
9            0      124      56             36      168  43.1       0.456   77
0    1
1    0
2    1
3    0
4    1
5    1
6    0
7    1
8    0
9    1
Name: outcome, dtype: int64

In [16]:
scaler=StandardScaler()

In [17]:
scaler.fit(x)

StandardScaler()

In [19]:
standardized_data=scaler.transform(x)
standardized_data

array([[-0.79822813,  1.48219026,  0.62241422,  0.79060596, -0.76709253,
         0.38376847, -0.07885194,  0.04691651],
       [-0.46563307, -1.19808145,  0.0732252 ,  0.33448714, -0.76709253,
        -0.62614855, -0.56161891, -0.4222486 ],
       [ 1.86253229, -0.39399994,  0.16475671, -1.87008718, -0.76709253,
        -1.10225229,  0.13749919, -1.76272033],
       [-0.46563307, -0.09917005,  1.99538677, -0.12163169,  0.60898949,
        -0.40973776, -0.91564802, -0.28820142],
       [-0.79822813,  1.2409658 , -0.84208983,  0.86662577,  1.69228809,
         1.75437014,  2.87675474, -1.09248446],
       [ 0.53215208,  0.86572776,  0.62241422,  0.79060596, -0.76709253,
         0.38376847, -0.40963671, -0.4222486 ],
       [-0.46563307, -1.22488417, -0.0183063 ,  0.33448714, -0.76709253,
        -0.62614855, -0.39890856,  0.44905803],
       [ 1.86253229, -1.22488417, -1.94046787, -1.87008718, -0.76709253,
        -1.10225229, -0.24335031,  1.18631749],
       [-0.46563307, -0.34039451,  0.16475671, -0.12163169,  0.60898949,
        -0.40973776, -0.00733091,  0.44905803],
       [-0.79822813,  0.89253048, -0.84208983,  0.86662577,  1.69228809,
         1.75437014, -0.39890856,  1.85655335]])

In [20]:
x=standardized_data
y=data['outcome']

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [22]:
x.shape,x_train.shape,x_test.shape

((10, 8), (8, 8), (2, 8))

In [23]:
y.shape,y_train.shape,y_test.shape

((10,), (8,), (2,))

In [27]:
classifier=svm.SVC(kernel='linear')

In [28]:
classifier.fit(x_train,y_train)

SVC(kernel='linear')

In [31]:
x_train_accuracy=classifier.predict(x_train)
training_data_accuracy=accuracy_score(x_train_accuracy,y_train)
training_data_accuracy

1.0

In [32]:
x_test_accuracy=classifier.predict(x_test)
test_data_accuracy=accuracy_score(x_test_accuracy,y_test)
test_data_accuracy

1.0

In [42]:
input_data=(1,87,87,23,94,28.1,0.167,45)
input_data_as_array=np.asarray(input_data)
input_data_reshaped=input_data_as_array.reshape(1,-1)
std_data=scaler.transform(input_data_reshaped)
print(std_data)
prediction=classifier.predict(std_data)
print(prediction)
if (prediction[0]==0):
    print("not a diabetes")
else:
    print("diabetes")

[[-0.46563307 -0.09917005  1.99538677 -0.12163169  0.60898949 -0.40973776
  -0.91564802 -0.28820142]]
[0]
not a diabetes